<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} - Portland JavaScript Admirers</title>
  <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="current-theme" href="/stylesheets/themes/blue/style.css" type="text/css" media="screen" />

  <meta content='http://www.myopenid.com/xrds?username=hallettj.myopenid.com' http-equiv='X-XRDS-Location' />
  <link href='http://www.myopenid.com/server' rel='openid.server' />
  <link href='http://hallettj.myopenid.com/' rel='openid.delegate me' />
  <link href='http://hallettj.myopenid.com/' rel='openid2.local_id' />
  <link href='http://www.myopenid.com/server' rel='openid2.provider' />

  <link rel="alternate" type="application/atom+xml" title="Portland JavaScript Admimers blog posts" href="/atom.xml" />
  <link href='http://github.com/hallettj/pdxjs.com' rel='alternate' title='Edit this page on Github' type='application/x-wiki' />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.scrollTo.js"></script>   
  <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.localscroll.js"></script>
  <script type="text/javascript" charset="utf-8">
    // <![CDATA[
    var Theme = {
      activate: function(name) {
        window.location.hash = 'themes/' + name
        Theme.loadCurrent();
      },
      
      loadCurrent: function() {
        var hash = window.location.hash;
        if (hash.length > 0) {
          matches = hash.match(/^#themes\/([a-z0-9\-_]+)$/);
          if (matches && matches.length > 1) {
            $('#current-theme').attr('href', '/stylesheets/themes/' + matches[1] + '/style.css');
          } else {
            alert('theme not valid');
          }
        }
      }
    }            
    
    $(document).ready(function() {
      Theme.loadCurrent();
      $.localScroll();      
      $('.table :checkbox.toggle').each(function(i, toggle) {
        $(toggle).change(function(e) {
          $(toggle).parents('table:first').find(':checkbox:not(.toggle)').each(function(j, checkbox) {
            checkbox.checked = !checkbox.checked;            
          })          
        });
      });
    });
    // ]]>    
  </script> 
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Portland JavaScript Admirers</a></h1>
    </div>    
    <div id="wrapper">
      <div id="main">

        <div class="block">
          <div class="content">
            <h2>{{ page.title }}</h2>
            <div class="inner">
              <span>{{ page.date | date_to_long_string }}</span>
              {{ content }}
            </div>
          </div>
        </div>

        <div id="footer">
          <div class="block">
            <p>
            <span href='http://purl.org/dc/dcmitype/InteractiveResource' property='dc:title' rel='dc:type' xmlns:dc='http://purl.org/dc/elements/1.1/'>pdxjs.com</span>
            by
            <a href='http://pdxjs.com/' property='cc:attributionName' rel='cc:attributionURL' xmlns:cc='http://creativecommons.org/ns#'>Portland JavaScript Admirers contributers</a>
            is licensed under a
            <a href='http://creativecommons.org/licenses/by-sa/3.0/us/' rel='license'>Creative Commons Attribution-Share Alike 3.0 United States License</a>.
            </p>
          </div>      
        </div>
      </div>

      <div id="sidebar">

        <div class="block">
          <h3>About PDXjs</h3>
          <div class="content">
            <p>Portland JavaScript Admirers is a group that meets monthly to discuss topics on JavaScript and ECMAscript ranging from client-side web frameworks, to functional and prototypal programming theory. Meetings take place on the fourth Wednesday of every month from 7-9pm at <a href='http://cubespacepdx.com/'>CubeSpace</a>.</p>

            <p>New members and speakers are always welcome! Please send a message to <a href='mailto:pdxjs@googlegroups.com'>pdxjs@googlegroups.com</a> if you would like to give a presentation, or if you have a suggestion for a topic. And feel free to join our <a href='http://groups.google.com/group/pdxjs'>mailing list</a> if you too are a JavaScript admirer.</p>
          </div>
        </div>

        <div class="block">
          <h3>Subscribe</h3>
          <div class="content">
            <p>
            <a href="/atom.xml" title="Click here for RSS">
              <img class="rss" src="/images/rss.png" alt="RSS" align="absmiddle" />
              Subscribe to PDXjs
            </a>
            </p>
          </div>
        </div>

        <div class="block">
          <h3>Blog Archive</h3>
          <div class="content">
            <p>
            {% for post in site.posts %}
              <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}">{{ post.title }}</a><br/>
            {% endfor %}
          </div>
        </div>

        <div class="block" id="block-resources">
          <h3>Resources</h3>
          <div class="content">
            <p> Join the <a href="http://groups.google.com/group/pdxjs">mailing
              list</a>.</p>

            <p>Follow PDXjs on <a href="http://twitter.com/pdxjs">Twitter</a> or 
            <a href="http://identi.ca/pdxjs">identi.ca</a>.</p>

            <p>
              Interested in CouchDB? Set up your own database on our public
              server at <a
                href="http://pdxjs.com:5984/_utils">http://pdxjs.com:5984/_utils</a>.
              We only ask that you are respectful of other people's data.
            </p>

            <p> Check your code with jslint online at <a
              href="http://www.jslint.com/">http://www.jslint.com/</a> to catch
            potential errors early. Or download <a
              href="http://github.com/hallettj/jslint.vim/">the jslint plugin
              for Vim</a>.  </p>

            <p>
              Find out about other groups and events in Portland on <a
                href="http://calagator.org/">Calagator</a>
            </p>
          </div>
        </div>

        <div class="block">
          <h3>Switch Theme</h3>
          <ul class="navigation">
            <li><a href="#" onclick="Theme.activate('default'); return false;">Default</a></li>
            <li class="last"><a href="#" onclick="Theme.activate('bec'); return false;">Bec</a></li>
            <li class="last"><a href="#" onclick="Theme.activate('bec-green'); return false;">Bec-Green</a></li>            
            <li><a href="#" onclick="Theme.activate('blue'); return false;">Blue</a></li>
			<li><a href="#" onclick="Theme.activate('djime-cerulean'); return false;">Djime-Cerulean</a></li>
            <li><a href="#" onclick="Theme.activate('reidb-greenish'); return false;">Greenish</a></li>
            <li><a href="#" onclick="Theme.activate('kathleene'); return false;">Kathleene</a></li>  
            <li><a href="#" onclick="Theme.activate('orange'); return false;">Orange</a></li>  
          </ul>          
        </div>

        <div class="block notice">
          <p> The source for this website is available on Github at <a
            href='http://github.com/hallettj/pdxjs.com/'>http://github.com/hallettj/pdxjs.com/</a>.
          To contribute changes, fork that repository and send a pull request.
          </p>
        </div>

      </div>
      <div class="clear"></div>      
    </div>    
  </div>
</body>
</html>
